# ignore the Terraform main user-config files
# (to avoid committing your actual cluster passwords)
*.tfvars
# ignore Terraform state files
terraform.tfstate*
# ignore Terraform init files
.terraform

# ignore files expressly produced by Terraform
launchpad.yaml
nodes.yaml
hosts.ini

# security CYA
*.pem
ssh_keys/
